body {
    background-color:azure;
}

header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

